@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf'); 
}

table {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

th, td {
  position: relative;
}

.container {
  width: 1366px;
  min-height: 100vh;
  background: #fff;
  margin: 0 auto;
  /*border: 1px solid red;*/
}

.summary-wrap {
  width: 1000px;
  margin: 0 auto;
  align-items: center;
  padding: 15px 15px;
 /* border: 1px solid green; */
}

/*
.summary thead {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
*/

.summary thead {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.summary th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #fa4251;
  line-height: 1.4;
  background-color: transparent;
}

.summary td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: solid black;
  line-height: 1.4;
}

.summary tbody {
  background-color: #f7f7f7;
}

/*
.summary tr {
  border-bottom: 1px solid red;
  background-color: #ebebeb;
}

.summary tr:nth-child(even) {
  background-color: #ebebeb;
}
*/
textarea {
  width: 100%;
  font-family: Lato-Regular;
  line-height: 1.5;
  top: 0; left: 0; right: 0; bottom: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}