.DS_Store

# Compiled class file
*.class

# Log file
*.log

#== Editors

# Eclipse
.metadata
.settings/
bin/
.classpath
.project

# Jetbrains
.idea
Interview.iml

# Sublime
*.sublime-project
*.sublime-workspace

# Project specific
out
src/Scratch.java
src/Practice.java